<!DOCTYPE html>
<html lang="en" ng-app="myFriends">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="This is social network site" />
		<meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
		<meta name="robots" content="index, follow" />
		<title>Nearby People | Find Local People</title>

    <!-- Stylesheets
    ================================================= -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-social.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/ionicons.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/css/emoji.css" rel="stylesheet"/>
    <!--Google Webfont-->
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700' rel='stylesheet' type='text/css'>
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
	</head>
  <body ng-controller="FriendController">

    <!-- Header
    ================================================= -->
		<header id="header">
      <nav class="navbar navbar-inverse navbar-fixed-top menu">
        <div class="container">

          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" id="rafikie">Rafikie</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">
              <li class="dropdown active">
                  <a href="findfriends.html" class="" role="button" aria-haspopup="true" aria-expanded="false">Find Friends</a>
              </li>
              <li class="dropdown">
                <a href="profile.html" class="" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
              </li>
              <li class="dropdown">
                <a href="friendlist.html" class="" role="button" aria-haspopup="true" aria-expanded="false">Friends</a>
              </li>
              <li class="dropdown">
                <a href="chatroom.html" class="" role="button" aria-haspopup="true" aria-expanded="false">Chatroom</a>
              </li>
              <li class="dropdown">
                <a href="index.html" class="" role="button" aria-haspopup="true" aria-expanded="false">Log Out</a>
              </li>
            </ul>
            <form class="navbar-form navbar-right hidden-sm">
              <div class="form-group">
                <i class="icon ion-android-search"></i>
                <input type="text" class="form-control" placeholder="Search friends, photos, videos">
              </div>
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </header>
    <!--Header End-->

    <div id="page-contents">
    	<div class="container">
    	<div class="row">

    			<!-- Newsfeed Common Side Bar Left
          ================================================= -->
    	<div class="col-md-3 static">
            <div class="profile-card">
            	<img ng-src="userImages/{{image}}" alt="images/default.png" class="profile-photo" />
            	<h5><a href="timeline.html" class="text-white">{{user.name}}</a></h5>
            	<a href="#" class="text-white"><i class="ion ion-android-person-add"></i>{{friendCount}} friends</a>
            </div><!--profile card ends-->
                    <form>
                            <h4 class="grey">Search for Friends</h4>
                      <div class="form-group">
                        <label for="college">College or University</label>
                        <input type="" class="form-control" id="college" placeholder="Enter College or University">
                      </div>
                      <div class="form-group">
                        <label for="city">City</label>
                        <input type="" class="form-control" id="city" placeholder="Enter city">
                      </div>
                      <div class="form-group">
                        <label for="interests">Interests</label>
                        <input type="" class="form-control" id="interests" placeholder="Enter interests">
                      </div>
                    <div class="form-group">
                            <label for="languages">Languages</label>
                            <input type="" class="form-control" id="languages" placeholder="Enter Languages">
                    </div>
               </form>
         </div>
    	<div class="col-md-6">

            <!-- Post Create Box
            ================================================= -->
            <!-- Nearby People List
            ================================================= -->
            <div class="people-nearby">
              <div>
                <h2>Friend Suggestions</h2>
              </div>
            <div>
           <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#friends" aria-controls="home" role="tab" data-toggle="tab">Friends</a></li>
            <li role="presentation"><a href="#dating" aria-controls="profile" role="tab" data-toggle="tab">Dating</a></li>
            <li role="presentation"><a href="#studymates" aria-controls="messages" role="tab" data-toggle="tab">Study Mates</a></li>
            <li role="presentation"><a href="#marriage" aria-controls="settings" role="tab" data-toggle="tab">Marriage</a></li>
           </ul>
            <div class="tab-content">
             <div role="tabpanel" class="tab-pane active" id="friends">
              <div class="nearby-user" ng-repeat="user in recommendedFriends">
                <div class="row">
                  <div class="col-md-2 col-sm-2">
                    <img ng-src="userImages/{{user.image}}" alt="user" class="profile-photo-lg" />
                  </div>
                  <div class="col-md-7 col-sm-7">
                    <h5><a href="#" class="profile-link">{{user.name}}</a></h5>
                    <p>About : {{user.about}}</p>
                    <p>Interest : </p>
                    <p ng-repeat="interest in user.interests">{{interest}}<p>
                    <p class="text-muted">Location : {{user.location}}</p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <button ng-click="friendRequestSent(user);removeSuggest($index)"class="btn btn-primary pull-right">Add Friend</button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
	<div role="tabpanel" class="tab-pane" id="dating">                   
	</div>
	<div role="tabpanel" class="tab-pane" id="studymates">
         </div>
	<div role="tabpanel" class="tab-pane" id="marriage">           
        </div>
        </div>
        </div>
     </div>

          <!-- Newsfeed Common Side Bar Right
          ================================================= -->
    	<div class="col-md-3 static">
            <div class="suggestions" id="sticky-sidebar">
              <h4 class="grey">Notifications</h4>                                           
              <div class="follow-user" ng-repeat="request in notifications">
                <img ng-src="userImages/{{request.image}}" alt="" class="profile-photo-sm pull-left" />
                <div>
                  <h5><a href="timeline.html">{{request.name}}</a></h5>
                  <p class="text-red">Send you a friend request</p>                
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <button type="button" class="btn btn-success" ng-click="acceptFriend(request); removeRequest($index)">Accept</button>
                    <button type="button" class="btn btn-warning">Decline</button>
                  </div>
              </div>
            </div>
          </div>
    	</div>
    </div>
   </div>

    <!-- Footer
    ================================================= -->
    <footer id="footer">
      <div class="container">
      	<div class="row">
          <div class="footer-wrapper">
            <div class="col-md-3 col-sm-3">
              <a href="" id="rafiki">Rafikie</a>
              <ul class="list-inline social-icons">
              	<li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-googleplus"></i></a></li>
              	<li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <h6>For individuals</h6>
              <ul class="footer-links">
                <li><a href="">Signup</a></li>
                <li><a href="">Login</a></li>
                <li><a href="">Explore</a></li>
                <li><a href="">Finder app</a></li>
                <li><a href="">Features</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-2">
              <h6>About</h6>
              <ul class="footer-links">
                <li><a href="">About us</a></li>
                <li><a href="">Contact us</a></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Help</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-3">
              <h6>Contact Us</h6>
							<ul class="contact">
								<li><i class="icon ion-ios-telephone-outline"></i>+1 (714) 949 9561</li>
								<li><i class="icon ion-ios-email-outline"></i>info@cpp.com</li>
								<li><i class="icon ion-ios-location-outline"></i>3801 W Temple Ave, Pomona, CA 91768</li>
							</ul>
            </div>
          </div>
      	</div>
      </div>
			<div class="copyright">
        <p>x4E414D45 Team © 2017. All rights reserved</p>
      </div>
		</footer>

    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script src="js/jquery.min.js"></script>
    <script src="js/typed.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.appear.min.js"></script>
    <script src="js/jquery.incremental-counter.js"></script>
    <script src="js/jquery.scrollbar.min.js"></script>
    <script src="js/jquery.sticky-kit.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/friend_controller.js"></script>
    <script src="js/service/friend_service.js"></script>
    <script src="js/service/authentication.js"></script>
  </body>
</html>
