
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="This is social network site" />
        <meta name="keywords" content="Social Network, Social Media, Make Friends, Newsfeed, Profile Page" />
        <meta name="robots" content="index, follow" />
        <title>Rafikie</title>

    <!-- Stylesheets
    ================================================= -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet"/>
        <link href="css/ionicons.min.css" rel="stylesheet"/>
        <link href="css/bootstrap-social.css" rel="stylesheet"/>
        <link href="css/emoji.css" rel="stylesheet"/>
    <!--Google Webfont-->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700' rel='stylesheet' type='text/css'>
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
</head>
<body ng-controller="UserController">

    <!-- Header
    ================================================= -->
    <header id="header">
        <nav class="navbar navbar-default navbar-fixed-top menu">
                <div class="container">

                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" id="rafikie" href="index.html">Rafikie</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right main-menu">
                                        <form class="form-inline" name="loginForm" ng-submit="login()">
                                            <fieldset class="form-group">
                                                <label class="sr-only" for="email">Email Address</label>
                                                <input type="email" class="form-control input-sm" id="example-email" placeholder="Email" ng-model="loginInfo.email">
                                            </fieldset>
                                            <fieldset class="form-group">
                                                <label class="sr-only" for="password">Password</label>
                                                <input type="password" class="form-control input-sm" id="example-password" placeholder="Password" ng-model="loginInfo.password">
                                            </fieldset>
                                            <fieldset class="checkbox-inline">
                                                <label>
                                                    <input type="checkbox">Remember me
                                                </label>
                                            </fieldset>
                                                <button type="submit" class="btn-primary" ng-disabled="loginForm.$invalid">Login In</button>
                                                <button ng-show="showButton" type="button" class="btn-primary" ng-click="toggleButton(); toggleDetails()">Register</button>
                                          </form>
                                </ul>
                        </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
        </nav>
    </header>
    <!--Header End-->

    <!-- Top Banner
    ================================================= -->
    <section id="banner">
        <div class="container">
        <div class="col-md-5">
        <!-- Sign Up Form
        ================================================= -->
        <div class="sign-up-form" ng-show="showForm">
                <h2 class="text-white">Find My Friends</h2>
                <div class="line-divider"></div>
                <div class="form-wrapper">
                        <p class="signup-text">Signup now and meet awesome people around the world</p>

                      <form ng-submit="submit()" name="myForm" novalidate>
                          <fieldset class="form-group" ng-class="{ 'has-error has-feedback' : myForm.name.$error.required && !myForm.name.$pristine }">
                              <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name"
                              ng-model="user.name" required ng-minlength=3>
                              <span ng-show="myForm.name.$error.required && !myForm.name.$pristine">This is required field.</span>
                              <span ng-show="myForm.name.$error.minlength && !myForm.name.$pristine">Minimum required length is 3.</span>
                          </fieldset>
                          <fieldset class="form-group" ng-class="{ 'has-error has-feedback' : myForm.email.$invalid && !myForm.email.$pristine }">
                                  <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                                  ng-model="user.email" required>
                                  <span ng-show="myForm.email.$error.required && !myForm.email.$pristine">This is required field.</span>
                                  <span ng-show="(myForm.email.$invalid ||
                                              myForm.email.$error.required) &&
                                              !myForm.email.$pristine">Enter a valid email address.</span>
                          </fieldset>
                          <fieldset class="form-group" ng-class="{ 'has-error has-feedback' : myForm.password.$error.required && !myForm.password.$pristine }">
                              <input type="password" class="form-control" id="password" placeholder="Enter a password" ng-model="user.password"
                                            name="password" required>
                          </fieldset>
                          <fieldset class=form-group>
                                <p>By signning up you agree to the terms</p>
                                <button type="submit" class="btn btn-secondary"
                                ng-disabled="myForm.$invalid" />Create Account</button>
                          </fieldset>
                    </form>
                </div>
        </div><!-- Sign Up Form End -->
      </div>
      <div class="col-sm-7">
        <div class="row row-content">
          <p style="padding:80px;"></p>
        </div>
        <div class="row row-content">
          <p style="padding:80px;"></p>
        </div>
        <div class="row row-content">
          <div class="text-center">
            <h1 style="color: #F0F8FF; font-weight: bold"><span class="typing"></span></h1>
          </div>
        </div>
      </div>
    </div>
</section>

    <!-- Features Section
    ================================================= -->
    <!-- Download Section
    ================================================= -->
    <!-- Image Divider
    ================================================= -->
    <!-- Facts Section
    ================================================= -->
    <!-- Live Feed Section
    ================================================= -->
    <!-- Footer
    ================================================= -->
    <footer id="footer">
      <div class="container">
        <div class="row row-content">
          <p style="padding:0px"></p>
        </div>
      </div>
      <div class="copyright">
        <p>x4E414D45 Team © 2017. All rights reserved</p>
      </div>
    </footer>

    <!--preloader-->
    <div id="spinner-wrapper">
        <div class="spinner"></div>
    </div>

    <!-- Scripts
    ================================================= -->
    <script src="js/jquery.min.js"></script>
    <script src="js/typed.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.appear.min.js"></script>
    <script src="js/jquery.incremental-counter.js"></script>
    <script src="js/jquery.scrollbar.min.js"></script>
    <script src="js/jquery.sticky-kit.min.js"></script>
    <script src="js/script.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controller/controllers.js"></script>
    <script src="js/service/services.js"></script>
    <script>
    $(document).ready(function(){
        $(".typing").typed({
          strings: ["Are you alone ?", "Are you looking for friends ?", "This site is for you."],
          typeSpeed: 30,
        });
    });
</script>
</body>
</html>
